/*TODO use less to clean the css and make it small*/
* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.header {
    padding-bottom: 20px;
}
.loader {
    font-size: 3em;
}
.img-profile {
    cursor: pointer;
    height: 34px;
    width: 34px;
}
.inline {
    display: inline-block;
    vertical-align: middle;
}
.mainContent .nav-tabs {
    display: none;
    visibility: hidden;
}
.single-rpi {
    padding-bottom: 10px;
    width: 100%;
    overflow: hidden;
}
.rpi-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}
.rpi-img-container {
    width: 115px;
    float: left;
}
.rpi-img {
    height: 70px;
}
.rpi-info-container {
    display: inline-block;
}
.rpi-name {
    font-weight: bold;
    font-size: 1.45em;
    line-height: 1.7em;
}
.rpi-info {
    line-height: 1em;
    font-size: 1em;
}
.rpi-actions {
    display: block;
    margin-top: 15px;
    float: right;
}
.rpi-edit {
    width: 100%;
    min-height: 40px;
}
.header-right {
    margin-top: 20px;
}
.serverStatus, .newDevice, .userDropdown {
    display: inline-block;
    vertical-align: middle;
}
.server-status {
    color: #f1c40f;
    display: inline-block;
    padding: 4px 12px 4px 0;
    line-height: 1.6;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.modal-device {
    width: 450px;
}
.modal-title {
    margin-top: 10px;
    margin-bottom: 25px;
}
.form-horizontal .form-group.input-device-group {
    width: 310px;
    margin: 0 auto;
}
.input-device {
    letter-spacing: 10px;
    height: 90px;
    font-family: monospace;
    font-size: 4.5em;
    padding: 10px 0 10px 12px;
}
.has-success .input-device, .has-error .input-device {
    border-width: 3px;
}
.has-success .input-device {
    color: #3c763d;
}
.panel-login {
    max-width: 400px;
    margin:0 auto;
}
.userDropdown {
    display: inline-block;
}
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}