body {
	background-color: #eee;
}
.loader {
    position: absolute;
}
.hidden {
    display: none;
}
.text-center {
    text-align: center;
}
.profileImg {
	display: inline-block;
}
.lead {
	font-size: 1.4em;
}
oauth span {
	vertical-align: middle;
	margin-right: 5px;
}
oauth img {
	vertical-align: middle;
	height: 40px;
	width: 40px;
	border-radius: 50%;
}
.btn-add-device {
	position: absolute;
	bottom: 15px;
	right: 15px;
}
.alert-no-dashboards {
	margin-top: 40px;
}
.dashboards-list {
	max-width: 900px;
	margin: 25px auto;
}
.dashboard-img {
	margin-right: 25px;
	height: 50px;
	width: auto;
}
.btn-dashboard-settings {
	position: absolute;
	right: 15px;
	bottom: 15px;
}
.list-card {
	background-color: #fff;
	margin: 12px 8px;
	cursor:pointer;
}
.list-item-content {
	height: 85px;
	margin: 16px;
}
md-dialog .md-actions > * {
	margin-left: 0;
}
md-content.grey-bg {
	background-color: #eee;
}
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.btn-google {
    background-color: #e14929;
    color: #fff;
}
.btn-google:hover{
    color: #fff;
}