.header {
    padding-bottom: 20px;
}
.panel-default, .btn, .list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0;
}
.single-rpi {
    padding-bottom: 10px;
    width: 100%;
    overflow: hidden;
}
.rpi-img-container {
    width: 115px;
    float: left;
}
.rpi-img {
    height: 70px;
}
.rpi-info-container {
    display: inline-block;
}
.rpi-name {
    font-weight: bold;
    font-size: 1.45em;
    line-height: 1.7em;
}
.rpi-info {
    line-height: 1em;
    font-size: 1em;
}
.rpi-actions {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    float: right;
}
.header-right {
    margin-top: 20px;
}
.server-status {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.6;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
