<md-content class="md-padding" ng-hide="isLoading || dashboards.length !== 0">
  <p class="lead alert-no-dashboards text-center">
    You have no dashboards, connect a device to get started.
  </p>
</md-content>

<div class="dashboards-list" ng-show="!!dashboards">
  <md-list>
    <md-item ng-repeat="dashboard in dashboards">
      <div class="list-card">
        <md-item-content class="list-item-content" layout="row" layout-align="space-around center">

          <div flex="85">
            <h3>{{dashboard.name || $index + " &lt;Name not set&gt;" }}
            <br><span class="subhead-id">ID: {{dashboard.id}}</span></h3>
          </div>
          <div flex="15">
            <md-progress-circular md-mode="indeterminate" class="loader-dashboard hidden dashboard{{$index}}"></md-progress-circular>
          </div>

        </md-item-content>

        <md-divider></md-divider>

        <md-content class="md-padding" layout="column">

          <div layout="row" layout-align="space-around center" ng-show="dashboard.id != null">

            <md-input-container flex="80">
              <label>Name</label>
              <input type="text" ng-model="dashboard.name">
            </md-input-container>

            <md-input-container flex="20">
              <label>Interval</label>
              <input type="number" ng-model="dashboard.interval">
            </md-input-container>
          </div>


          <strong>URLS</strong>


          <div layout="column">

            <div layout="row" ng-repeat="url in dashboard.urls track by $index">
              <md-input-container flex="80">
                <input type="text" ng-model="dashboard.urls[$index]">
              </md-input-container>
              <div flex="20">
                <md-button class="btn btn-danger" type="button" ng-click="removeUrl($index, dashboard)">Remove Url</md-button>
              </div>
            </div>

          </div>


          <div layout="row" layout-align="space-around center">
            <div flex="35">
              <md-button class="btn btn-primary" ng-click="addUrl($index)">Add Url</md-button>
            </div>
            <div flex="65" class="text-right">
              <md-button class="md-primary" ng-click="deleteDashboard(dashboard)" disabled>Delete</md-button>&nbsp;
              <md-button class="md-primary md-raised" ng-click="saveDashboard($index, dashboard)">Save</md-button>
            </div>
          </div>
        </md-content>
      </div>
    </md-item>
  </md-list>
</div>
