<md-content class="md-padding" ng-hide="isLoading || dashboards.length !== 0">
  <p class="lead alert-no-dashboards text-center">
    You have no dashboards, connect a device to get started.
  </p>
</md-content>

<div class="dashboards-list" ng-show="!!dashboards">
  <md-list layout-fill>
    <md-item ng-repeat="dashboard in dashboards">
      <div class="list-card">
        <md-item-content class="list-item-content" layout="row" layout-align="space-around center">

          <div class="md-tile-left">
            <img ng-src="//placehold.it/60" class="dashboard-img" alt="device thumb">
          </div>
          <div class="md-tile-content">
            <h3>{{dashboard.name || "&lt; Name not set &gt;" }}</h3>
            <h4>{{dashboard.id}}</h4>
          </div>

        </md-item-content>
      </div>
    </md-item>
  </md-list>
</div>
