<!-- <md-button aria-label="Sign in / Logout" class="oauth"> -->
<div class="oauth">
	<md-button class="logged-out" ng-show="!$root.user.name" ng-click="login()">{{text}}</md-button>
  	<md-button class="logged-in"  ng-show="$root.user.name"  ng-click="logout()">Logout {{ $root.user.name }}</md-button>
  	<md-button class="denied"     ng-show="show=='denied'"   ng-click="login()">Access denied. Try again.</md-button>
  	<img ng-show="$root.user.imageUrl" ng-src="{{ $root.user.imageUrl }}" alt="" class="profileImg">
</div>
<!-- </md-button> -->
